@use "../../global/style/common.scss" as common;

.title-font {
  @include common.title-font;
}


div.title-wrapper {
  margin: 0px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

div.team-title-wrapper {
  margin: 0px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  border-bottom: 1px solid gray;

  h2 {
    display: flex;
    align-items: center;
    margin: 0px;
    span {
      margin-left: 0.5em;
      font-size: 0.6em;
      font-weight: bold;
      padding: 3px 4px;
      border-radius: 5px;
      color: white;
      &.creator {
        background-color: rgb(167, 230, 74);
      }
    }
  }
  div.team-buttons {
    margin-right: 2em;
  }
}

span.username {
  color: red;
}

div.create-project-wrapper {
  form.create-project-form {
    margin: 10px auto;
    width: 70%;
    div.input-wrapper {
      margin-bottom: 10px;
      label{
        display: flex;
        align-items: baseline;
        justify-content: space-between;
      }
      h2 {
        height: fit-content;
        margin: 10px 0px;
      }
      input {
        @include common.gulim-font;
        border: none;
        border-bottom: 1px solid gray;
        &:focus{
          outline: none;
        }

        &::placeholder {
          font-size: 1.2em;
        }
        width: 100%;
        height: 2em;
      }
      textarea {
        @include common.gulim-font;
        &::placeholder {
          font-size: 1.2em;
        }
        width: 100%;
        min-height: 15em;
        height: fit-content;
        resize: none;
      }
    }
    button{
      transition-duration: .3s;
    }
  }
}
