

div.team-title-wrapper{
    display: flex;
    align-items: center;

    span.creator{
        margin-left: 10px;
        font-weight: bold;
        // TODO color Test Code
        color: white;

        padding: 5px;
        border-radius: 5px;
        background-color: rgb(167, 230, 74);
        border: 1px solid rgb(167, 230, 74);

    }

}